.boton {
    height: 20pt;
    border: 1px solid #45EE99;
    border-radius: 48px;
    background: blue;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
  }
  .entrada {
    height: 18pt;
    border-radius: 48px;
    width: 100%;
  }
  .salida {
    height: 18pt;
    border-radius: 12px;
    border: 1px dotted black;
    width: 100%;
    margin-top: 4px;
  }
  .contenedor {
    width: 30%;
  }